{% extends 'secretpass/base.html' %}

{% block body %}
<div class="container mt-4">
    <h5>Edit Account</h5>
    {% if account.is_deleted %}
        <a href="{% url 'sprestore' account.id %}" onclick="return confirm('Account will be restored. Are you sure?');" class="text-danger">Restore</a>
    {% else %}
        <a href="{% url 'spmovetotrash' account.id %}" onclick="return confirm('Account will be moved to trash. Are you sure?');" class="text-danger">Move to Trash</a>
    {% endif %}
    <div id="accountList">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div>
                <button type="submit" class="btn btn-black w-100">save</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
