{% extends 'secretpass/base.html' %}

{% block body %}
<div class="container mt-1">
    {% include 'secretpass/searchAccount.html' %}
    <div id="accountList">
        {% for account in accounts %}
        <div class="row account mt-2 p-2">
            <div class="col-7 col-md-10">
                <label class="mx-2 mt-1">Service</label>
                <input class="mx-2 w-100" value="{{ account.service }}" disabled>
                <label class="mx-2 mt-1">Username</label>
                <input class="mx-2 w-100" value="{{ account.username }}" disabled>
                <input id="decryptionResult-{{account.id}}" type="password" class="mx-2 w-50 mt-1" disabled>
                <input type="checkbox" onclick="showPassword('decryptionResult-{{account.id}}')">Show
            </div>
            <div class="col-2 col-md-1 text-center my-auto"><a href="{% url 'spedit' account.id %}" class=""><i
                        class="far fa-edit"></i><br>Edit</a></div>
            <div class="col-3 col-md-1 my-auto text-center">
                <a id="decryptButton-{{account.id}}" onClick="decryptPassword('{% url 'spdecrypt' account.id %}', '{{account.id}}', '{{ csrf_token }}')">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <br>Decrypt
                </a>
                <a id="copyButton-{{account.id}}" onClick="copyPassword('{{account.id}}')" style="display: none;">
                    <i class="far fa-clipboard"></i>
                    <br>Copy
                </a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock body %}
