<div class="container mt-1" id="passwordGenerator" style="display: none;">
    <div class="row justify-content-center">
        <input id="passwordResult" type="password" class="w-100 mx-2" placeholder="Password Generator" disabled>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center my-auto">
            <a class="" id="generatePassword">
                <i class="fa fa-key" aria-hidden="true"></i>
                <br>Generate
            </a>
        </div>
        <div class="col-4 text-center my-auto">
            <input type="checkbox" onclick="showPassword('passwordResult')">
            <br>Show
        </div>
        <div class="col-4 text-center my-auto">
            <a id="copyClipboard" class="my-auto"><i class="far fa-clipboard"></i><br>Copy</a>
        </div>
    </div>
</div>
